@{
    ViewData["Title"] = "Home Page";
}

<h1></h1>

<section id="slider" class="d-none d-lg-block d-print-block">
<img src="~/lib/img/img1.jpg" width="1110" height="360" />
</section>

<h1></h1>

<div class="card-deck">
    <div class="card">
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
            </svg>
        </figure>
        <div class="card-body">
            <h5 class="card-title">Apresentação</h5>
            <p class="card-text">Nesta página haverá uma pequena apresentação sobre mim e os meus <b>objetivos profissinais.</b></p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="Apresentação.html">Read More &raquo;</a></small>
        </div>
    </div>
    <div class="card">
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
            </svg>
        </figure>
        <div class="card-body">
            <h5 class="card-title">Currículo</h5>
            <p class="card-text">
                <b>Experiência profissional</b> Nesta página haverá um resumo de todas as minhas experiências profissionais e competências
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="Curriculo.html">Read More &raquo;</a></small>
        </div>
    </div>
    <div class="card">
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z" />
            </svg>
        </figure>
        <div class="card-body">
            <h5 class="card-title">Contacto</h5>
            <p class="card-text">Nesta página haverá a opção de <b>me contactar</b> para eventuais interesses profissinais...</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="Contacto.html">Read More &raquo;</a></small>
        </div>
    </div>
    <div class="card">
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
            </svg>
        </figure>
        <div class="card-body">
            <h5 class="card-title">Anexos</h5>
            <p class="card-text">Nesta página serão apresentados <b>diplomas e ficheiros</b> que comprovam o conteúdo do currículo.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="Anexos.html">Read More &raquo;</a></small>
        </div>
    </div>
</div>
