
@{
    ViewData["Title"] = "Anexos";
}

<h1></h1>
<h3>Anexos</h3>

<section id="slider" class="d-none d-lg-block d-print-block">
    <img src="~/lib/img/img3.jpg" width="800" height="400" />
</section>

