@model Trabalho_Final.Models.Mensagem

@{
    ViewData["Title"] = "Sucesso";
}

<h1></h1>

<div class="card text-white bg-dark mb-3">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Title</h5>
        <p class="card-text">@ViewBag.Mensagem</p>

    </div>
</div>