@model Trabalho_Final.Models.CartaConducao

@{
    ViewData["Title"] = "Edit";
}

<h1></h1>
<h3>Editar</h3>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartaConducaoId" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-outline-dark" asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
